openapi: 3.0.3
info: 
  title: OnDemand APIs
  version: 1.0.1
  description: Barchart features a diverse set of market and information APIs that can be easily integrated into your website. Whether you're looking for a small, medium, large or enterprise solution, we'll create a custom package for you that exceeds your expectations.
  contact: 
    name: onDemand API Support
    url: https://www.barchart.com/ondemand
    email: support@barchart.com
  termsOfService: 'https://www.barchart.com/solutions/company/terms-and-privacy'
servers: 
  - 
    url: https://ondemand.websol.barchart.com
tags: 
  - 
    name: Price Data
  - 
    name: Cryptocurrency Data
  - 
    name: Profiles and Financial Data
  - 
    name: Splits, Dividends, and Earnings
  - 
    name: Leaderboards and Lists
  - 
    name: Charts and Analytics
  - 
    name: ETFs
  - 
    name: News and Filings
  - 
    name: Metadata
  - 
    name: Other Data
paths: 
  /getQuote.json: 
    get: 
      tags: 
        - Price Data
      summary: getQuote
      operationId: get-getQuote
      description: The getQuote API is used to request price data, either real-time, delayed or end-of-day, by symbol on stocks, indexes, mutual funds, ETFs, futures, foreign exchange, or cryptocurrencies.
      parameters: 
        - 
          in: query
          name: apikey
          description: Enter the secret API key.
          required: true
          schema: 
            type: string
            example: YOUR_API_KEY
        - 
          in: query
          name: symbols
          description: A symbol or code that identifies a financial instrument.  Multiple symbols separated by a comma may be used.  For futures, notation such as <root_symbol*0> for the active contract or <root_symbol*1> for the first nearby is supported, as is <root_symbol^F> for all futures contracts for a given root symbol, as is <root_symbol^O> for all options contracts for a given underlying futures symbol.
          required: true
          schema: 
            type: string
            example: 'AAPL,GOOG'
        - 
          in: query
          name: fields
          description: The fields requested.
          required: false
          schema: 
            type: string
            example: 'fiftyTwoWkHigh,fiftyTwoWkHighDate,fiftyTwoWkLow,fiftyTwoWkLowDate'
        - 
          in: query
          name: mode
          description: Parameter to change quote type to real-time ("R"), delayed ("I") or end-of-day ("D") if available.
          required: false
          schema: 
            type: string
            example: 'I'
        - 
          in: query
          name: jerq
          description: Whether to merge with JERQ data.
          required: false
          schema: 
            type: string
            example: 'false'
        - 
          in: query
          name: exchangeFilter
          description: Returns all quotes for specified exchanges (symbols are ignored).
          required: false
          schema: 
            type: string
            example: 'NYSE,CME'
        - 
          in: query
          name: only
          description: Returns only specified fields
          required: false
          schema: 
            type: string
            example: 'symbol,name'
        - 
          in: query
          name: shareClassFigi
          description: The unique share class code identifying an instrument globally.
          required: false
          schema: 
            type: string
            example: 'BBG001S5S399'
        - 
          in: query
          name: figi
          description: The unique code identifying an instrument across all exchanges in a country.
          required: false
          schema: 
            type: string
            example: 'BBG000BLNQ16'
        - 
          in: query
          name: compositeFigi
          description: N/A
          required: false
          schema: 
            type: string
            example: 'BBG000BLNNH6'
      responses: 
        '200': 
          description: OK (Success)
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  status: 
                    type: object
                    description: The status object when an error occurs or when a response is successful.
                    required: 
                      - code
                      - message
                    properties: 
                      code: 
                        description: The status code of the response.
                        type: integer
                        example: 200
                      message: 
                        description: The status message corresponding to the status code.
                        type: string
                        example: Success.
                  results: 
                    description: The results object of the API operation.
                    type: array
                    uniqueItems: true
                    items: 
                      type: object
                      properties: 
                        symbol: 
                          description: A symbol or code that identifies a financial instrument.
                          type: string
                          nullable: true
                          example: 'AAPL'
                        name: 
                          description: The type of symbol used.
                          type: string
                          nullable: true
                          example: 'Apple Inc'
                        dayCode: 
                          description: The day code for the session.  Day codes are "1-9" for days 1 through 9, "0" (zero) for the 10th of the month, and "A - U" for days 11 through 31.
                          type: string
                          nullable: true
                          example: 'G'
                        serverTimestamp: 
                          description: The time the message was generated on the server.
                          type: string
                          nullable: true
                          example: '2021-02-17T16:06:30-06:00'
                        mode: 
                          description: An indicator representing if the quote is real-time ("R"), delayed ("I") or end-of-day ("D") if available.
                          type: string
                          nullable: true
                          example: 'i'
                        lastPrice: 
                          description: The last price the instrument traded.
                          type: number
                          format: double
                          nullable: true
                          example: 130.84
                        tradeSize: 
                          description: The size of the last traded price / transaction.
                          type: integer
                          nullable: true
                          example: 3566575
                        tradeTimestamp: 
                          description: The exchange timestamp for the last traded price.
                          type: string
                          nullable: true
                          example: '2021-02-17T16:00:00-06:00'
                        tradeDate: 
                          description: The settlement trade date for the quote price.
                          type: string
                          format: date
                          nullable: true
                          example: '2021-02-17'
                        netChange: 
                          description: The difference between the last traded price and the previous close.
                          type: number
                          format: double
                          nullable: true
                          example: -2.35
                        percentChange: 
                          description: The percent difference between the last traded price and the previous close.
                          type: number
                          format: double
                          nullable: true
                          example: -1.76
                        tick: 
                          description: An indicator representing whether the last traded price was up ("+"), the same (".") or below ("-") the previous last price.
                          type: string
                          nullable: true
                          example: '.'
                        previousLastPrice: 
                          description: The price previous to the current last price.
                          type: number
                          format: double
                          nullable: true
                          example: 133.19
                        previousTimestamp: 
                          description: The exchange timestamp of the previous last price.
                          type: string
                          format: date
                          nullable: true
                          example: '2021-02-16'
                        bid: 
                          description: The current bid price.
                          type: number
                          format: double
                          nullable: true
                          example: 130.85
                        bidSize: 
                          description: The size (quantity) of the current bid price.
                          type: integer
                          nullable: true
                          example: 1000
                        ask: 
                          description: The current ask price.
                          type: number
                          format: double
                          nullable: true
                          example: 130.87
                        askSize: 
                          description: The size (quantity) of the current ask price.
                          type: integer
                          nullable: true
                          example: 300
                        unitCode: 
                          description: The corresponding unit code.
                          type: string
                          nullable: true
                          example: '2'
                        open: 
                          description: The opening (first) price for the session.
                          type: number
                          format: double
                          nullable: true
                          example: 131.25
                        high: 
                          description: The highest traded price for the session.
                          type: number
                          format: double
                          nullable: true
                          example: 132.22
                        low: 
                          description: The lowest traded price for the session.
                          type: number
                          format: double
                          nullable: true
                          example: 129.47
                        close: 
                          description: The last traded price for the session.
                          type: number
                          format: double
                          nullable: true
                          example: 130.84
                        numTrades: 
                          description: The number of individual transactions over the course of a trading session.
                          type: integer
                          nullable: true
                          example: 965940
                        dollarVolume: 
                          description: The current Dollar Volume.
                          type: number
                          format: double
                          nullable: true
                          example: 13061554630.89
                        flag: 
                          description: |
                            If present, can be one of the following: "c" meaning that the market is closed for this instrument. "p" meaning that the market is in a pre-open state. This occurs when there are bids and offers being placed, but no trade has occurred yet. This is normally seen shortly before the official opening time for busy markets, but can also be seen throughout the day for lightly traded markets. "s" meaning that the instrument has settled, and that this is the final, settlement price.
                          type: string
                          nullable: true
                          example: 's'
                        previousOpen: 
                          description: The opening (first) price for the previous session.
                          type: number
                          format: double
                          nullable: true
                          example: 135.49
                        previousHigh: 
                          description: The highest traded price for the previous session.
                          type: number
                          format: double
                          nullable: true
                          example: 136.01
                        previousLow: 
                          description: The lowest traded price for the previous session.
                          type: number
                          format: double
                          nullable: true
                          example: 132.79
                        previousClose: 
                          description: The last traded price for the previous session.
                          type: number
                          format: double
                          nullable: true
                          example: 133.19
                        previousNetChange: 
                          description: The difference between the Last Price, and the Last Price from 1 day ago.
                          type: number
                          format: double
                          nullable: true
                          example: null
                        previousPercentChange: 
                          description: The percent change from 1 day ago.
                          type: number
                          format: double
                          nullable: true
                          example: null
                        settlement: 
                          description: The settlement price determined by the exchange.
                          type: number
                          format: double
                          nullable: true
                          example: 130.84
                        previousSettlement: 
                          description: The settlement price for the previous session.
                          type: number
                          format: double
                          nullable: true
                          example: 133.19
                        volume: 
                          description: The quantity of shares or contracts traded.
                          type: integer
                          nullable: true
                          example: 97730392
                        previousVolume: 
                          description: The quantity of shares or contracts traded from the previous day.
                          type: integer
                          nullable: true
                          example: 80576305
                        openInterest: 
                          description: The quantity of open interest for futures.
                          type: number
                          format: double
                          nullable: true
                          example: null
                        previousOpenInterest: 
                          description: The quantity of open interest for futures from the previous day.
                          type: number
                          format: double
                          nullable: true
                          example: null
                        fiftyTwoWkHigh: 
                          description: The highest price over the past 52 weeks.
                          type: number
                          format: double
                          nullable: true
                          example: 145.09
                        fiftyTwoWkHighDate: 
                          description: The date in which the high price was reached over the past 52 weeks.
                          type: string
                          format: date
                          nullable: true
                          example: '2021-01-25'
                        fiftyTwoWkLow: 
                          description: The low price over the past 52 weeks.
                          type: number
                          format: double
                          nullable: true
                          example: 53.15
                        fiftyTwoWkLowDate: 
                          description: The date in which the low price was reached over the past 52 weeks.
                          type: string
                          format: date
                          nullable: true
                          example: '2020-03-23'
                        avgVolume: 
                          description: The average year-to-date daily volume.
                          type: integer
                          nullable: true
                          example: 103347133
                        impliedVolatility: 
                          description: The estimated volatility of a security's price. Only returns a value for futures.
                          type: number
                          format: double
                          nullable: true
                          example: null
                        twentyDayAvgVol: 
                          description: The 20-Day Average Volume.
                          type: number
                          format: double
                          nullable: true
                          example: 100959203
                        month: 
                          description: Contract month returned for futures.
                          type: string
                          nullable: true
                          example: null
                        year: 
                          description: Contract year returned for futures.
                          type: string
                          nullable: true
                          example: null
                        expirationDate: 
                          description: The expiration date for the futures contract. Only returns a value for futures.
                          type: string
                          format: date
                          nullable: true
                          example: null
                        lastTradingDay: 
                          description: The last trading day of the futures contract. Only returns a value for futures.
                          type: string
                          nullable: true
                          example: null
                        twelveMnthPct: 
                          description: The 1-year Change.
                          type: number
                          format: double
                          nullable: true
                          example: 60.92
                        twelveMnthPctDate: 
                          description: The 1-year Change %.
                          type: string
                          format: date
                          nullable: true
                          example: '2020-02-18'
                        preMarketPrice: 
                          description: The pre market price for the instrument
                          type: number
                          format: double
                          nullable: true
                          example: null
                        preMarketNetChange: 
                          description: The pre market net change for the instrument
                          type: number
                          format: double
                          nullable: true
                          example: null
                        preMarketPercentChange: 
                          description: The pre market percent change for the instrument
                          type: number
                          format: double
                          nullable: true
                          example: null
                        preMarketTimestamp: 
                          description: The pre market price for the instrument
                          type: string
                          nullable: true
                          example: null
                        afterHoursPrice: 
                          description: The after hour price for the instrument
                          type: number
                          format: double
                          nullable: true
                          example: null
                        afterHoursNetChange: 
                          description: The after hour net change for the instrument
                          type: number
                          format: double
                          nullable: true
                          example: null
                        afterHoursPercentChange: 
                          description: The after hour percent change for the instrument
                          type: number
                          format: double
                          nullable: true
                          example: null
                        afterHoursTimestamp: 
                          description: The after hour price for the instrument
                          type: string
                          nullable: true
                          example: null
                        averageWeeklyVolume: 
                          description: The average volume for the last five trading days.
                          type: integer
                          nullable: true
                          example: 69943086
                        averageMonthlyVolume: 
                          description: The average one month volume.
                          type: integer
                          nullable: true
                          example: 98105781
                        averageQuarterlyVolume: 
                          description: The average 3 month volume.
                          type: integer
                          nullable: true
                          example: 102564875
                        exchangeMargin: 
                          description: The margin maintenance required for the future.
                          type: string
                          nullable: true
                          example: null
                        oneMonthHigh: 
                          description: The highest price over the last month.
                          type: number
                          format: double
                          nullable: true
                          example: 145.09
                        oneMonthHighDate: 
                          description: The date when the high price was reached over the last month.
                          type: string
                          format: date
                          nullable: true
                          example: '2021-01-25'
                        oneMonthLow: 
                          description: The lowest price over the last month.
                          type: number
                          format: double
                          nullable: true
                          example: 126.94
                        oneMonthLowDate: 
                          description: The date when the low price was reached over the last month.
                          type: string
                          format: date
                          nullable: true
                          example: '2021-01-19'
                        threeMonthHigh: 
                          description: The highest price over the last 3 months.
                          type: number
                          format: double
                          nullable: true
                          example: 145.09
                        threeMonthHighDate: 
                          description: The date when the high price was reached over the last 3 months.
                          type: string
                          format: date
                          nullable: true
                          example: '2021-01-25'
                        threeMonthLow: 
                          description: The lowest price over the last 3 months.
                          type: number
                          format: double
                          nullable: true
                          example: 112.59
                        threeMonthLowDate: 
                          description: The date when the low price was reached over the last 3 months.
                          type: string
                          format: date
                          nullable: true
                          example: '2020-11-24'
                        sixMonthHigh: 
                          description: The highest price over the last 6 months.
                          type: number
                          format: double
                          nullable: true
                          example: 145.09
                        sixMonthHighDate: 
                          description: The date when the high price was reached over the last 6 months.
                          type: string
                          format: date
                          nullable: true
                          example: '2021-01-25'
                        sixMonthLow: 
                          description: The lowest price over the last 6 months.
                          type: number
                          format: double
                          nullable: true
                          example: 103.1
                        sixMonthLowDate: 
                          description: The date when the low price was reached over the last 6 months.
                          type: string
                          format: date
                          nullable: true
                          example: '2020-09-21'
                        fiveDayHigh: 
                          description: The highest price over the last 5 days.
                          type: number
                          format: double
                          nullable: true
                          example: 136.39
                        fiveDayHighDate: 
                          description: The date when the high price was reached over the last 5 days.
                          type: string
                          format: date
                          nullable: true
                          example: '2021-02-11'
                        fiveDayLow: 
                          description: The lowest price over the last 5 days.
                          type: number
                          format: double
                          nullable: true
                          example: 127.41
                        fiveDayLowDate: 
                          description: The date when the low price was reached over the last 5 days.
                          type: string
                          format: date
                          nullable: true
                          example: '2021-02-18'
                        yearToDateHigh: 
                          description: The year-to-date highest price reached.
                          type: number
                          format: double
                          nullable: true
                          example: 145.09
                        yearToDateHighDate: 
                          description: The date when year-to-date high price was reached.
                          type: string
                          format: date
                          nullable: true
                          example: '2021-01-25'
                        yearToDateLow: 
                          description: The year-to-date lowest price reached.
                          type: number
                          format: double
                          nullable: true
                          example: 126.38
                        yearToDateLowDate: 
                          description: The date when year-to-date low price was reached.
                          type: string
                          format: date
                          nullable: true
                          example: '2021-01-06'
                        twoYearHigh: 
                          description: The highest price over the last two years.
                          type: number
                          format: double
                          nullable: true
                          example: 145.09
                        twoYearHighDate: 
                          description: The date when the high price was reached over the last two years.
                          type: string
                          format: date
                          nullable: true
                          example: '2021-01-25'
                        twoYearLow: 
                          description: The lowest price over the last two years.
                          type: number
                          format: double
                          nullable: true
                          example: 42.37
                        twoYearLowDate: 
                          description: The date when the low price was reached over the last two years.
                          type: string
                          format: date
                          nullable: true
                          example: '2019-02-19'
                        exchange: 
                          description: Exchange code for the marketplace where the financial instruments are listed.
                          type: string
                          nullable: true
                          example: 'NASDAQ'
                        weeklyClose: 
                          description: The end-of-day last price the instrument traded this week.
                          type: number
                          format: double
                          nullable: true
                          example: 128.12
                        weeklyPreviousClose: 
                          description: The last price the instrument traded at last week.
                          type: number
                          format: double
                          nullable: true
                          example: 135.37
                        weeklyPreviousHigh: 
                          description: The high price the instrument traded at last week.
                          type: number
                          format: double
                          nullable: true
                          example: 137.88
                        weeklyPreviousLow: 
                          description: The low price the instrument traded at last week.
                          type: number
                          format: double
                          nullable: true
                          example: 133.69
                        monthlyClose: 
                          description: The end-of-day last price the instrument traded this month.
                          type: number
                          format: double
                          nullable: true
                          example: 130.84
                        monthlyPreviousClose: 
                          description: The last price the instrument traded at last month.
                          type: number
                          format: double
                          nullable: true
                          example: 131.96
                        monthlyPreviousHigh: 
                          description: The high price the instrument traded at last month.
                          type: number
                          format: double
                          nullable: true
                          example: 145.09
                        monthlyPreviousLow: 
                          description: The low price the instrument traded at last month.
                          type: number
                          format: double
                          nullable: true
                          example: 126.38
                        basis: 
                          description: The basis range in cents.
                          type: number
                          format: double
                          nullable: true
                          example: null
                        previousBasis: 
                          description: The previous basis range in cents.
                          type: number
                          format: double
                          nullable: true
                          example: null
                        commodityDataDelivery: 
                          description: The Commodity delivery date.
                          type: string
                          nullable: true
                          example: null
                        commodityDataCurrency: 
                          description: The Commodity data currency.
                          type: string
                          nullable: true
                          example: null
                        volumeFractional: 
                          description: The quantity of shares traded, included fractional shares. This field is only available for US Stock Markets (AMEX, NASDAQ & NYSE).
                          type: integer
                          nullable: true
                          example: 916
                        previousVolumeFractional: 
                          description: The quantity of shares traded in the previous day, included fractional shares. This field is only available for US Stock Markets (AMEX, NASDAQ & NYSE).
                          type: integer
                          nullable: true
                          example: 913
                      required: 
                        - symbol
                        - name
                        - dayCode
                        - serverTimestamp
                        - mode
                        - lastPrice
                        - tradeTimestamp
                        - netChange
                        - percentChange
                        - unitCode
                        - open
                        - high
                        - low
                        - close
                        - numTrades
                        - dollarVolume
                        - flag
                        - volume
                        - previousVolume
        '204': 
          description: No Content
        '400': 
          description: Bad Request
        '500': 
          description: Internal Server Error
  /getHistory.json: 
    get: 
      tags: 
        - Price Data
      summary: getHistory
      operationId: get-getHistory
      description: The getHistory API is used to request historical time series data on stocks, indexes, mutual funds, ETFs, futures, foreign exchange, or cryptocurrencies. Historical data is available as tick, minute bars or end-of-day data.
      parameters: 
        - 
          in: query
          name: apikey
          description: Enter the secret API key.
          required: true
          schema: 
            type: string
            example: YOUR_API_KEY
        - 
          in: query
          name: symbol
          description: A symbol or code that identifies a financial instrument.
          required: true
          schema: 
            type: string
            example: 'AAPL'
        - 
          in: query
          name: type
          description: The type of historical data to return, including tick data, minute data, and end-of-day data.
          required: true
          schema: 
            type: string
            enum: 
              - 'ticks'
              - 'minutes'
              - 'nearbyMinutes'
              - 'formTMinutes'
              - 'daily'
              - 'dailyNearest'
              - 'dailyContinue'
              - 'weekly'
              - 'weeklyNearest'
              - 'weeklyContinue'
              - 'monthly'
              - 'monthlyNearest'
              - 'monthlyContinue'
              - 'quarterly'
              - 'quarterlyNearest'
              - 'quarterlyContinue'
              - 'yearly'
              - 'yearlyNearest'
              - 'yearlyContinue'
            example: 'minutes'
        - 
          in: query
          name: startDate
          description: The start date of the historical data query.  This parameter should be set to the desired start date/time for the query (the result set will include records back to, and including, this value). If not set, the value will default to the beginning of the day specified in the end parameter, if end is specified, or to the beginning of the current day, if end is not specified. The value should conform to the format yyyymmdd[hhmm[ss]], where fields in brackets are optional (Do not include the brackets themselves). Any optional fields that are not explicitly set will default to 0 (i.e. 20090203 will default to 20090203000000 or February 3, 2009 at 00:00:00).
          required: false
          schema: 
            type: string
            example: '20100101'
        - 
          in: query
          name: endDate
          description: The end data of the historical data query.  This parameter should be set to the desired end date/time for the query (the result set will include records up to, but not including, this value). If not set, the value will default to the end of the day specified in the start parameter, if specified, or to the end of the current day, if start is not specified. The value should conform to the format yyyymmdd[hhmm[ss]], where fields in brackets are optional (Do not include the brackets themselves). Any optional fields that are not explicitly set will default to 0 (i.e. 20090203 will default to 20090203000000 or February 3, 2009 at 00:00:00).
          required: false
          schema: 
            type: string
            example: '20130101'
        - 
          in: query
          name: maxRecords
          description: The maximum amount of records returned.  This parameter should be set to the maximum number of records desired. If not specified, there number of records returned will be determined by the date/time parameters specified as well as any defaults that apply to the query.
          required: false
          schema: 
            type: integer
            example: 10
        - 
          in: query
          name: interval
          description: The number of minutes for a minute query.
          required: false
          schema: 
            type: integer
            example: 60
        - 
          in: query
          name: order
          description: An arrangement of fields within a particular record (ascending or descending).   This parameter can be set to one of two values ("asc" and "desc") in order to specify the chronological order of the result set returned. If this parameter is not specified, the order results is not guaranteed.
          required: false
          schema: 
            type: string
            enum: 
              - 'asc'
              - 'desc'
            example: 'asc'
        - 
          in: query
          name: sessionFilter
          description: This parameter modifies the default session codes/sale conditions used to return ticks for each exchange. For NYSE and AMEX, the default session filter is "@EFKX56V9" (meaning all ticks with sale conditions corresponding to one of the characters in the filter are included in the results), for NASDAQ the default is "@ABDEFKOSXY156", and for everything else all session codes/sale conditions are returned except the settle (session code '*'). If the session filter is set to a string of valid session codes (i.e. "EFK"), only ticks with the specified session codes are included in the results. If the string is prefixed with character '!' (i.e."!EFK"), all session codes except those in the string are included in the results. If the string is prefixed with character '+' (i.e. "+T"), then all the default session codes in addition to the ones specified in the string are included in the results. And if the string is prefixed with character '-' (i.e. "-EF") then all default session codes except the ones specified are included in the results. Please note that the '+' character should be escaped (to %2B) when entering the URL in a web browser or executing the query in an API that does not escape it by default.
          required: false
          schema: 
            type: string
            example: 'EFK'
        - 
          in: query
          name: splits
          description: An adjustment of stock value due to corporate action.   This parameter only applies to stocks and specifies whether the data returned should be adjusted for splits or not. Set to true to query for adjusted the data, or to false for non-adjusted data. If not specified, the default is true. In order to guarantee the same adjustment settings in the future, this parameter should be specified.
          required: false
          schema: 
            type: string
            example: 'true'
        - 
          in: query
          name: dividends
          description: A distribution of a portion of a company's earnings.  This parameter only applies to stocks and specifies whether the data returned should be adjusted for dividends or not. Set to true to query for adjusted the data, or to false for non-adjusted data. If not specified, the default is true. In order to guarantee the same adjustment settings in the future, this parameter should be specified.
          required: false
          schema: 
            type: string
            example: 'true'
        - 
          in: query
          name: volume
          description: The quantity of shares or contracts traded.  For futures, this parameter can be set to one of two values (contract and total) in order to specify whether the volume returned should be the contract volume or the total volume. For aggregates (such as weekly, monthly or yearly), this returns the average volume for the period specified. If the value is preceded by 'sum' (sumcontract and sumtotal), then it returns the sum of the volumes in each daily bar during the period specified. If not specified, the value will default to contract. For aggregate equities queries (such as weekly, monthly or yearly), this parameter can be set to sum to return the sum of the volumes in each daily bar during the period specified. If not specified, then the average volume is returned.
          required: false
          schema: 
            type: string
            enum: 
              - 'total'
              - 'sum'
              - 'contract'
              - 'sumcontract'
              - 'sumtotal'
            example: 'sum'
        - 
          in: query
          name: nearby
          description: This parameter specifies the offset from the front month for 'nearest' queries (data parameter set to dailynearest, weeklynearest, monthlynearest, quarterlynearest and yearlynearest). The default value for this parameter is 1, which sets nearest queries to the most current front month. If set to a value greater than 1, then the nth front month is used (for example, in August of 2010, ESU10 would be the current front month, so nearby=2 would use ESZ10, nearby=3 would use ESH11, etc.) This parameter is ignored for all other queries. Alternatively, the same functionality provided by the nearby parameter can be achieved using the symbol notation symbol=RS*n, where RS is the root symbol and n is the nth front month (i.e. symbol=ES*1, symbol=YM*3, etc.). When using this notation on the symbol parameter, the nearby parameter should be omitted.
          required: false
          schema: 
            type: integer
            example: 1
        - 
          in: query
          name: jerq
          description: Whether to merge with JERQ data.
          required: false
          schema: 
            type: string
            example: 'true'
        - 
          in: query
          name: exchange
          description:  The list of valid exchange codes to limit symbol search.
          required: false
          schema: 
            type: string
            example: 'NYSE,AMEX,NASDAQ'
        - 
          in: query
          name: backAdjust
          description: This parameter specifies whether the contracts in the series will be adjusted based on the roll-gap between the closing prices of the current contract and the previous contract on the day of the switch. Valid values are true and false. If not specified, the default value is false resulting in a non-adjusted query. This parameter only applies to multi-contract futures queries and is ignored for all other queries.
          required: false
          schema: 
            type: string
            enum: 
              - 'true'
              - 'false'
            example: 'false'
        - 
          in: query
          name: daysToExpiration
          description: This parameter specifies the number of calendar days prior to a contract expiration when the series of contracts will be switched to the next contract in the series. Valid values are 0 through 60. A value of 0 will tell the system to use the day of expiration. If not specified, the default value (1) is used, resulting in each contract in the series to run until (and including) the day prior to its expiration. This parameter only applies to multi-contract futures queries and is ignored for all other queries.
          required: false
          schema: 
            type: string
            enum: 
              - '0'
              - '1'
              - '2'
              - '3'
              - '4'
              - '5'
              - '6'
              - '7'
              - '8'
              - '9'
              - '10'
              - '11'
              - '12'
              - '13'
              - '14'
              - '15'
              - '16'
              - '17'
              - '18'
              - '19'
              - '20'
              - '21'
              - '22'
              - '23'
              - '24'
              - '25'
              - '26'
              - '27'
              - '28'
              - '29'
              - '30'
              - '31'
              - '32'
              - '33'
              - '34'
              - '35'
              - '36'
              - '37'
              - '38'
              - '39'
              - '40'
              - '41'
              - '42'
              - '43'
              - '44'
              - '45'
              - '46'
              - '47'
              - '48'
              - '49'
              - '50'
              - '51'
              - '52'
              - '53'
              - '54'
              - '55'
              - '56'
              - '57'
              - '58'
              - '59'
              - '60'
            example: '1'
        - 
          in: query
          name: contractRoll
          description: For futures, multi-contract nearest queries (data parameter set to dailynearest, weeklynearest, monthlynearest, quarterlynearest or yearlynearest), this parameter can be set to one of two values (expiration, combined), and determines how the switch from one contract to the next in the series is calculated. When the value specified is 'expiration', the switch from one contract to the next in the series will be based on the expiration date (and the value of the 'daysToExpiration' parameter if specified). When the value specified is 'combined', a combination of volume and openinterest will be used to determine when to switch from one contract to the next in the series (when using this value, the 'daysToExpiration' parameter is ignored).
          required: false
          schema: 
            type: string
            enum: 
              - 'expiration'
              - 'combined'
            example: 'expiration'
      responses: 
        '200': 
          description: OK (Success)
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  status: 
                    type: object
                    description: The status object when an error occurs or when a response is successful.
                    required: 
                      - code
                      - message
                    properties: 
                      code: 
                        description: The status code of the response.
                        type: integer
                        example: 200
                      message: 
                        description: The status message corresponding to the status code.
                        type: string
                        example: Success.
                  results: 
                    description: The results object of the API operation.
                    type: array
                    uniqueItems: true
                    items: 
                      type: object
                      properties: 
                        symbol: 
                          description: A symbol or code that identifies a financial instrument.
                          type: string
                          nullable: true
                          example: 'AAPL'
                        timestamp: 
                          description: |
                            The exchange time of the price.  Format: HH:MM:SS.FFF
                          type: string
                          nullable: true
                          example: '2021-02-18T13:49:33-05:00'
                        tradingDay: 
                          description: |
                            The date of the trade. Format: YYYY-MM-DD
                          type: string
                          format: date
                          nullable: true
                          example: '2021-02-18'
                        sessionCode: 
                          description: A code used to differentiate between composite market prices, overnight session prices, and day session prices for futures.  Not all futures exchanges use session codes.  "G" is electronic session and "R" is pit session.
                          type: string
                          nullable: true
                          example: '@'
                        tickPrice: 
                          description: The price traded for a single transaction.
                          type: number
                          format: double
                          nullable: true
                          example: 128.68
                        tickSize: 
                          description: The volume traded for a single transaction.
                          type: integer
                          nullable: true
                          example: 101
                        open: 
                          description: The opening (first) price for the period.
                          type: number
                          format: double
                          nullable: true
                          example: 132.0335
                        high: 
                          description: The highest traded price for the period.
                          type: number
                          format: double
                          nullable: true
                          example: 132.3023
                        low: 
                          description: The lowest traded price for the period.
                          type: number
                          format: double
                          nullable: true
                          example: 131.9229
                        close: 
                          description: The last traded price for the period.
                          type: number
                          format: double
                          nullable: true
                          example: 132.2524
                        volume: 
                          description: The quantity of shares or contracts traded per the period.
                          type: integer
                          nullable: true
                          example: 430918
                        openInterest: 
                          description: The total number of options and/or futures contracts that have not been offset.
                          type: integer
                          nullable: true
                          example: null
                      required: 
                        - symbol
                        - timestamp
                        - tradingDay
        '204': 
          description: No Content
        '400': 
          description: Bad Request
        '500': 
          description: Internal Server Error
  /getClosePrice.json: 
    get: 
      tags: 
        - Price Data
      summary: getClosePrice
      operationId: get-getClosePrice
      description: The getClosePrice API provides the close price for given instruments for the given date. 
      parameters: 
        - 
          in: query
          name: apikey
          description: Enter the secret API key.
          required: true
          schema: 
            type: string
            example: YOUR_API_KEY
        - 
          in: query
          name: symbols
          description: A symbol or code that identifies a financial instrument. Multiple symbols separated by a comma may be used.
          required: true
          schema: 
            type: string
            example: 'IBM,AAPL,GOOG'
        - 
          in: query
          name: date
          description: The date of the historical data query. The value should conform to the format yyyymmdd.
          required: false
          schema: 
            type: string
            format: date
            example: '2010-01-01'
        - 
          in: query
          name: splits
          description: An adjustment of stock value due to corporate action. This parameter only applies to stocks and specifies whether the data returned should be adjusted for splits or not. Set to true to query for adjusted the data, or to false for non-adjusted data.
          required: false
          schema: 
            type: string
            example: 'true'
        - 
          in: query
          name: dividends
          description: A distribution of a portion of a company's earnings. This parameter only applies to stocks and specifies whether the data returned should be adjusted for dividends or not. Set to true to query for adjusted the data, or to false for non-adjusted data.
          required: false
          schema: 
            type: string
            example: 'true'
      responses: 
        '200': 
          description: OK (Success)
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  status: 
                    type: object
                    description: The status object when an error occurs or when a response is successful.
                    required: 
                      - code
                      - message
                    properties: 
                      code: 
                        description: The status code of the response.
                        type: integer
                        example: 200
                      message: 
                        description: The status message corresponding to the status code.
                        type: string
                        example: Success.
                  results: 
                    description: The results object of the API operation.
                    type: array
                    uniqueItems: true
                    items: 
                      type: object
                      properties: 
                        symbol: 
                          description: The symbol or code that identifies a financial instrument
                          type: string
                          nullable: true
                          example: 'IBM'
                        closePrice: 
                          description: The last price the instrument traded.
                          type: number
                          format: double
                          nullable: true
                          example: 120.68
                        date: 
                          description: The date of the price.
                          type: string
                          format: date
                          nullable: true
                          example: '2021-02-18'
                      required: 
                        - symbol
                        - closePrice
                        - date
        '204': 
          description: No Content
        '400': 
          description: Bad Request
        '500': 
          description: Internal Server Error
  /getQuoteEod.json: 
    get: 
      tags: 
        - Price Data
      summary: getQuoteEod
      operationId: get-getQuoteEod
      description: The getQuoteEod API is used to request end-of-day price data, by combined exchange and symbol, on stocks, indexes, mutual funds, ETFs, futures, foreign exchange, or cryptocurrencies. Historical data is available as tick, minute bars or end-of-day data.
      parameters: 
        - 
          in: query
          name: apikey
          description: Enter the secret API key.
          required: true
          schema: 
            type: string
            example: YOUR_API_KEY
        - 
          in: query
          name: symbols
          description: An MIC code or a Country code plus the symbol or code that identifies a financial instrument. Multiple symbols separated by a comma may be used.  For futures, notation such as <root_symbol*0> for the active contract or <root_symbol*1> for the first nearby is supported, as is <root_symbol^F> for all futures contracts for a given root symbol. If no country code or MIC is passed then the API will behave the same as the getQuote API.
          required: true
          schema: 
            type: string
            example: 'XASE:SPY,US:IBM'
        - 
          in: query
          name: fields
          description: The fields requested.
          required: false
          schema: 
            type: string
            example: 'previousClose'
        - 
          in: query
          name: exchange
          description:  The list of valid exchange codes to limit symbol search.
          required: false
          schema: 
            type: string
            example: 'NYSE,AMEX'
      responses: 
        '200': 
          description: OK (Success)
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  status: 
                    type: object
                    description: The status object when an error occurs or when a response is successful.
                    required: 
                      - code
                      - message
                    properties: 
                      code: 
                        description: The status code of the response.
                        type: integer
                        example: 200
                      message: 
                        description: The status message corresponding to the status code.
                        type: string
                        example: Success.
                  results: 
                    description: The results object of the API operation.
                    type: array
                    uniqueItems: true
                    items: 
                      type: object
                      properties: 
                        symbol: 
                          description: A symbol or code that identifies a financial instrument.
                          type: string
                          nullable: true
                          example: 'SPY'
                        name: 
                          description: The type of symbol used.
                          type: string
                          nullable: true
                          example: 'S\u0026P 500 SPDR'
                        date: 
                          description: The price date.
                          type: string
                          format: date
                          nullable: true
                          example: '2021-02-17'
                        open: 
                          description: The opening (first) price for the session.
                          type: number
                          format: double
                          nullable: true
                          example: 390.42
                        high: 
                          description: The highest traded price for the session.
                          type: number
                          format: double
                          nullable: true
                          example: 392.66
                        low: 
                          description: The lowest traded price for the session.
                          type: number
                          format: double
                          nullable: true
                          example: 389.33
                        close: 
                          description: The last traded price for the session.
                          type: number
                          format: double
                          nullable: true
                          example: 392.39
                        netChange: 
                          description: The difference between the last traded price and the previous close.
                          type: number
                          format: double
                          nullable: true
                          example: 0.09
                        percentChange: 
                          description: The percent difference between the last traded price and the previous close.
                          type: number
                          format: double
                          nullable: true
                          example: 0.02
                        volume: 
                          description: The quantity of shares or contracts traded.
                          type: integer
                          nullable: true
                          example: 52806602
                        totaltrades: 
                          description: Total number of trades executed since the starting point of the indicator strategy.
                          type: integer
                          nullable: true
                          example: 176003
                        datasource: 
                          description: |
                            Where the data is coming from: Exchange Date or Barchart.
                          type: string
                          nullable: true
                          example: 'Barchart'
                        previousClose: 
                          description: The close price from the previous trading day.
                          type: number
                          format: double
                          nullable: true
                          example: 392.3
                        tradeTimestamp: 
                          description: The exchange timestamp for the last traded price.
                          type: string
                          nullable: true
                          example: '2021-02-17T18:40:00-06:00'
                        openInterest: 
                          description: The quantity of open interest for futures.
                          type: number
                          format: double
                          nullable: true
                          example: null
                        exchange: 
                          description: Exchange code for the marketplace where the financial instruments are listed.
                          type: string
                          nullable: true
                          example: 'NASDAQ'
                        month: 
                          description: Contract month returned for futures.
                          type: string
                          nullable: true
                          example: null
                        year: 
                          description: Contract year returned for futures.
                          type: string
                          nullable: true
                          example: null
                        settlement: 
                          description: The settlement price determined by the exchange.
                          type: number
                          format: double
                          nullable: true
                          example: 130.84
                      required: 
                        - symbol
                        - name
                        - date
                        - open
                        - high
                        - low
                        - close
                        - volume
                        - totaltrades
                        - datasource
        '204': 
          description: No Content
        '400': 
          description: Bad Request
        '500': 
          description: Internal Server Error
  /getEquitiesByExchange.json: 
    get: 
      tags: 
        - Price Data
      summary: getEquitiesByExchange
      operationId: get-getEquitiesByExchange
      description: Receive all real-time or delayed equities market data by exchange through a single onDemand query with the getEquitiesByExchangeAPI from Barchart OnDemand.
      parameters: 
        - 
          in: query
          name: apikey
          description: Enter the secret API key.
          required: true
          schema: 
            type: string
            example: YOUR_API_KEY
        - 
          in: query
          name: exchange
          description: A valid exchange code.
          required: true
          schema: 
            type: string
            enum: 
              - 'INDEX'
              - 'INDEX-NY'
              - 'INDEX-NQ'
              - 'SPECIAL'
              - 'INDEX-DOW'
              - 'INDEX-CBOE'
              - 'INDEX-SP'
              - 'INDEX-RL'
              - 'INDEX-TSX'
              - 'NYSE'
              - 'BATS'
              - 'OTHER OTC'
              - 'NASDAQ'
              - 'AMEX'
              - 'OTC-BB'
              - 'LSE'
              - 'TSX'
              - 'TSX-V'
              - 'ASX'
              - 'CNSX'
              - 'NEO'
              - 'EURNXT_EQ_BE'
              - 'EURNXT_EQ_FR'
              - 'EURNXT_EQ_NL'
              - 'EURNXT_EQ_PT'
            example: 'INDEX-NQ'
        - 
          in: query
          name: fields
          description: The fields requested.
          required: false
          schema: 
            type: string
            example: 'settlement'
        - 
          in: query
          name: fileDate
          description: The specific date for which data should be returned. The requested date cannot be more than 30 days back.
          required: false
          schema: 
            type: string
            format: date
            example: '2026-07-20'
      responses: 
        '200': 
          description: OK (Success)
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  status: 
                    type: object
                    description: The status object when an error occurs or when a response is successful.
                    required: 
                      - code
                      - message
                    properties: 
                      code: 
                        description: The status code of the response.
                        type: integer
                        example: 200
                      message: 
                        description: The status message corresponding to the status code.
                        type: string
                        example: Success.
                  results: 
                    description: The results object of the API operation.
                    type: array
                    uniqueItems: true
                    items: 
                      type: object
                      properties: 
                        symbol: 
                          description: The instrument symbol.
                          type: string
                          nullable: true
                          example: '$BANK'
                        name: 
                          description: The name of the instrument.
                          type: string
                          nullable: true
                          example: 'Nasdaq Bank Index'
                        open: 
                          description: The open price for the instrument.
                          type: number
                          format: double
                          nullable: true
                          example: 4158.48
                        high: 
                          description: The high price for the day.
                          type: number
                          format: double
                          nullable: true
                          example: 4195.09
                        low: 
                          description: The low price for the day.
                          type: number
                          format: double
                          nullable: true
                          example: 4152.24
                        last: 
                          description: The last/close price for the instrument.
                          type: number
                          format: double
                          nullable: true
                          example: 4170.21
                        netChange: 
                          description: The difference between the last traded price and the previous close.
                          type: number
                          format: double
                          nullable: true
                          example: -8.46
                        percentChange: 
                          description: The percent difference between the last traded price and the previous close.
                          type: number
                          format: double
                          nullable: true
                          example: -0.2
                        volume: 
                          description: The volume of the instrument.
                          type: integer
                          nullable: true
                        tradeTime: 
                          description: The trade time of the last trade for the instrument.
                          type: string
                          format: time
                          nullable: true
                          example: '16:15:00'
                        tradeDate: 
                          description: The trade date of the last trade for the instrument.
                          type: string
                          format: date
                          nullable: true
                          example: '2021-02-17'
                        exchange: 
                          description: The exchange code on which the instrument trades.
                          type: string
                          nullable: true
                          example: 'INDEX-NQ'
                        settlement: 
                          description: Flag to indicate if the prices are settled.
                          type: string
                          nullable: true
                          example: 's'
                        previousClose: 
                          description: Previous day's closing price.
                          type: number
                          format: double
                          nullable: true
                          example: 4160.11
                      required: 
                        - symbol
                        - name
                        - open
                        - high
                        - low
                        - last
                        - netChange
                        - percentChange
                        - volume
                        - tradeTime
                        - tradeDate
                        - exchange
        '204': 
          description: No Content
        '400': 
          description: Bad Request
        '500': 
          description: Internal Server Error
  /getFuturesByExchange.json: 
    get: 
      tags: 
        - Price Data
      summary: getFuturesByExchange
      operationId: get-getFuturesByExchange
      description: Receive all real-time or delayed, or end-of-day futures data by exchange through a single onDemand query with the get FuturesByExchange API from Barchart OnDemand.
      parameters: 
        - 
          in: query
          name: apikey
          description: Enter the secret API key.
          required: true
          schema: 
            type: string
            example: YOUR_API_KEY
        - 
          in: query
          name: exchange
          description: The exchange code for which the list of commodities are required.
          required: true
          schema: 
            type: string
            enum: 
              - 'LIFFE'
              - 'IOM'
              - 'CROSS'
              - 'CME'
              - 'CBOT'
              - 'MIAX'
              - 'NYMEX'
              - 'CASH'
              - 'CBOE'
              - 'CFE'
              - 'ICEUS'
              - 'LME'
              - 'WCE'
              - 'GBLX'
              - 'IMM'
              - 'BMF'
              - 'ROFEX'
              - 'EUIDX'
              - 'SFE'
              - 'ICEFI'
              - 'ICE'
              - 'SIMEX'
              - 'EUREX'
              - 'MEFF'
              - 'COMEX'
              - 'HKFE'
              - 'ENDEX'
              - 'TIFFE'
              - 'MDEX'
              - 'SAFEX'
              - 'OMX'
              - 'CXMI'
              - 'NYMI'
              - 'TFEX'
              - 'MNTRL'
              - 'JPX'
              - 'TAIWA'
              - 'CBOTM'
              - 'MATIF'
              - 'LCE'
              - 'KFE'
              - 'ISE'
              - 'BSE'
              - 'SHFE'
              - 'NCDEX'
              - 'NZX'
              - 'EEX'
              - 'CZCE'
              - 'DCE'
              - 'TURK'
              - 'MATBA'
              - 'TOCOM'
              - 'DGCX'
              - 'MCX'
              - 'CFFEX'
              - 'NSE'
              - 'EEX_POWER'
              - 'SGCOM'
              - 'SGXFX'
              - 'SGXNZ'
              - 'SGIDX'
            example: 'BMF'
        - 
          in: query
          name: category
          description: Category of the commodity.
          required: false
          schema: 
            type: string
            example: 'Meats'
        - 
          in: query
          name: fields
          description: Request additional optional fields.
          required: false
          schema: 
            type: string
            example: 'openInterest'
      responses: 
        '200': 
          description: OK (Success)
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  status: 
                    type: object
                    description: The status object when an error occurs or when a response is successful.
                    required: 
                      - code
                      - message
                    properties: 
                      code: 
                        description: The status code of the response.
                        type: integer
                        example: 200
                      message: 
                        description: The status message corresponding to the status code.
                        type: string
                        example: Success.
                  results: 
                    description: The results object of the API operation.
                    type: array
                    uniqueItems: true
                    items: 
                      type: object
                      properties: 
                        symbol: 
                          description: A symbol or code that identifies a financial instrument.
                          type: string
                          nullable: true
                          example: 'DPH21'
                        name: 
                          description: The type of symbol used.
                          type: string
                          nullable: true
                          example: '1-Day Interbank Dep.'
                        dayCode: 
                          description: The day code for the session.  Day codes are "1-9" for days 1 through 9, "0" (zero) for the 10th of the month, and "A - U" for days 11 through 31.
                          type: string
                          nullable: true
                          example: 'H'
                        mode: 
                          description: An indicator representing if the quote is real-time ("R"), delayed ("I") or end-of-day ("D").
                          type: string
                          nullable: true
                          example: 'i'
                        lastPrice: 
                          description: The last price the instrument traded.
                          type: number
                          format: double
                          nullable: true
                          example: 1.9
                        tradeTimestamp: 
                          description: The exchange timestamp for the last traded price.
                          type: string
                          nullable: true
                          example: '2021-02-18T15:12:00-06:00'
                        netChange: 
                          description: The difference between the last traded price and the previous close.
                          type: number
                          format: double
                          nullable: true
                          example: -0.002
                        percentChange: 
                          description: The percent difference between the last traded price and the previous close.
                          type: number
                          format: double
                          nullable: true
                          example: -0.11
                        unitCode: 
                          description: The corresponding unit code.
                          type: string
                          nullable: true
                          example: '3'
                        open: 
                          description: The opening (first) price for the session.
                          type: number
                          format: double
                          nullable: true
                          example: 1.902
                        high: 
                          description: The highest traded price for the session.
                          type: number
                          format: double
                          nullable: true
                          example: 1.906
                        low: 
                          description: The lowest traded price for the session.
                          type: number
                          format: double
                          nullable: true
                          example: 1.9
                        close: 
                          description: The last traded price for the session.
                          type: number
                          format: double
                          nullable: true
                          example: 1.9
                        numTrades: 
                          description: The number of individual transactions over the course of a trading session.
                          type: integer
                          nullable: true
                          example: 6
                        dollarVolume: 
                          description: The current Dollar Volume.
                          type: number
                          format: double
                          nullable: true
                        flag: 
                          description: |
                            If present, can be one of the following: "c" meaning that the market is closed for this instrument. "p" meaning that the market is in a pre-open state. This occurs when there are bids and offers being placed, but no trade has occurred yet. This is normally seen shortly before the official opening time for busy markets, but can also be seen throughout the day for lightly traded markets. "s" meaning that the instrument has settled, and that this is the final, settlement price.
                          type: string
                          nullable: true
                          example: 's'
                        volume: 
                          description: The quantity of shares or contracts traded.
                          type: integer
                          nullable: true
                          example: 1350
                        previousVolume: 
                          description: The quantity of shares or contracts traded from the previous day.
                          type: integer
                          nullable: true
                          example: 39500
                        previousOpenInterest: 
                          description: The quantity of open interest for futures from the previous day.
                          type: number
                          format: double
                          nullable: true
                          example: 1097077
                      required: 
                        - symbol
                        - name
                        - dayCode
                        - mode
                        - lastPrice
                        - tradeTimestamp
                        - netChange
                        - percentChange
                        - unitCode
                        - open
                        - high
                        - low
                        - close
                        - numTrades
                        - dollarVolume
                        - flag
                        - volume
                        - previousVolume
                        - previousOpenInterest
        '204': 
          description: No Content
        '400': 
          description: Bad Request
        '500': 
          description: Internal Server Error
  /getFuturesOptions.json: 
    get: 
      tags: 
        - Price Data
      summary: getFuturesOptions
      operationId: get-getFuturesOptions
      description: The getFuturesOptions API provides intraday options data such as strike price, closing price, expiration date, volume, volatility etc on futures contracts.
      parameters: 
        - 
          in: query
          name: apikey
          description: Enter the secret API key.
          required: true
          schema: 
            type: string
            example: YOUR_API_KEY
        - 
          in: query
          name: root
          description: A symbol or code that identifies an option root.
          required: false
          schema: 
            type: string
            example: 'ZC'
        - 
          in: query
          name: contract
          description: A symbol or code that identifies an options contract.
          required: false
          schema: 
            type: string
            example: 'ZCN27'
        - 
          in: query
          name: symbols
          description: A symbol or code that identifies an option.  Multiple symbols separated by a comma may be used.
          required: false
          schema: 
            type: string
            example: 'ZCK210C,ZCK210P'
        - 
          in: query
          name: exchange
          description: Exchange code for the marketplace where the financial instruments are listed.
          required: false
          schema: 
            type: string
            example: 'CME'
        - 
          in: query
          name: type
          description: The type of option desired, Call or Put.
          required: false
          schema: 
            type: string
            example: 'Call'
        - 
          in: query
          name: expirationMonth
          description: The numeric representation of the expiration month.
          required: false
          schema: 
            type: integer
            example: 07
        - 
          in: query
          name: expirationDay
          description: The numeric date for of the expiration day.
          required: false
          schema: 
            type: integer
            example: 22
        - 
          in: query
          name: fields
          description: Additional fields requested.
          required: false
          schema: 
            type: string
            example: 'premium,openInterest'
        - 
          in: query
          name: mode
          description: Parameter to change quote type to real-time ("R"), delayed ("I") or end-of-day ("D") if available.
          required: false
          schema: 
            type: string
            example: 'I'
        - 
          in: query
          name: returnExtendedSymbol
          description: Parameter to include the new barchart options symbology that allows users to map to the dataset from the marketreplay system.
          required: false
          schema: 
            type: string
      responses: 
        '200': 
          description: OK (Success)
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  status: 
                    type: object
                    description: The status object when an error occurs or when a response is successful.
                    required: 
                      - code
                      - message
                    properties: 
                      code: 
                        description: The status code of the response.
                        type: integer
                        example: 200
                      message: 
                        description: The status message corresponding to the status code.
                        type: string
                        example: Success.
                  results: 
                    description: The results object of the API operation.
                    type: array
                    uniqueItems: true
                    items: 
                      type: object
                      properties: 
                        symbol: 
                          description: A symbol or code that identifies the futures contract.
                          type: string
                          nullable: true
                          example: 'ZCK210C'
                        root: 
                          description: The root symbol for the future.
                          type: string
                          nullable: true
                          example: 'ZC'
                        contract: 
                          description: The symbol for the futures contract.
                          type: string
                          nullable: true
                          example: 'ZCK21'
                        contractName: 
                          description: The name of the futures contract.
                          type: string
                          nullable: true
                          example: 'Corn'
                        contractMonth: 
                          description: The month code for this option's contract.
                          type: string
                          nullable: true
                          example: 'K'
                        exchange: 
                          description: The name of the exchange the instrument belongs to.
                          type: string
                          nullable: true
                          example: 'CBOT'
                        type: 
                          description: Either Call or Put.
                          type: string
                          nullable: true
                          example: 'Call'
                        strike: 
                          description: The option's strike price.
                          type: number
                          format: double
                          nullable: true
                          example: 210
                        expirationDate: 
                          description: The expiration date.
                          type: string
                          format: date
                          nullable: true
                          example: '2021-04-23'
                        date: 
                          description: The price date.
                          type: string
                          format: date
                          nullable: true
                          example: '2021-02-17'
                        impliedVolatility: 
                          description: The estimated volatility of a security's price.
                          type: number
                          format: double
                          nullable: true
                          example: 85.597534179688
                        delta: 
                          description: The option's delta value.
                          type: number
                          format: double
                          nullable: true
                          example: 0.99991863344742
                        gamma: 
                          description: The option's gamma value.
                          type: number
                          format: double
                          nullable: true
                          example: 2.4122911850812E-25
                        theta: 
                          description: The option's theta value.
                          type: number
                          format: double
                          nullable: true
                          example: -4.9772727839208E-24
                        vega: 
                          description: The option's vega value.
                          type: number
                          format: double
                          nullable: true
                          example: 2.96107832152E-23
                        bid: 
                          description: The current bid price.
                          type: number
                          format: double
                          nullable: true
                          example: null
                        bidSize: 
                          description: The size (quantity) of the current bid price.
                          type: integer
                          nullable: true
                          example: null
                        ask: 
                          description: The current ask price.
                          type: number
                          format: double
                          nullable: true
                          example: null
                        askSize: 
                          description: The size (quantity) of the current ask price.
                          type: integer
                          nullable: true
                          example: null
                        open: 
                          description: The opening (first) price for the session.
                          type: number
                          format: double
                          nullable: true
                          example: 340.875
                        high: 
                          description: The highest traded price for the session.
                          type: number
                          format: double
                          nullable: true
                          example: 340.875
                        low: 
                          description: The lowest traded price for the session.
                          type: number
                          format: double
                          nullable: true
                          example: 334.75
                        last: 
                          description: The last price the instrument traded.
                          type: number
                          format: double
                          nullable: true
                          example: 340.875
                        previousClose: 
                          description: The last price the instrument traded.
                          type: number
                          format: double
                          nullable: true
                          example: 339.875
                        change: 
                          description: The difference between the last traded price and the previous close.
                          type: number
                          format: double
                          nullable: true
                          example: 1
                        percentChange: 
                          description: The percent difference between the last traded price and the previous close.
                          type: number
                          format: double
                          nullable: true
                          example: 0.29
                        premium: 
                          description: The option's premium.
                          type: number
                          format: double
                          nullable: true
                          example: 340.875
                        flag: 
                          description: The option's settled flag.
                          type: string
                          nullable: true
                          example: 's'
                        volume: 
                          description: The trade volume of the option.
                          type: integer
                          nullable: true
                        openInterest: 
                          description: Open interest of the option
                          type: integer
                          nullable: true
                          example: 1
                        settlement: 
                          description: The settlement price determined by the exchange.
                          type: number
                          format: double
                          nullable: true
                          example: 130.84
                        previousSettlement: 
                          description: The settlement price for the previous session.
                          type: number
                          format: double
                          nullable: true
                          example: 133.19
                        previousSettlementDate: 
                          description: The date for the previous session.
                          type: string
                          format: date
                          nullable: true
                          example: '2026-06-01'
                        extendedSymbol: 
                          description: The new barchart options symbol.
                          type: string
                          nullable: true
                          example: 'ZC|Z2026|200-0|C'
                        longSymbol: 
                          description: The new barchart long symbol.
                          type: string
                          nullable: true
                          example: 'ZC|Z26|200C'
                      required: 
                        - symbol
                        - root
                        - contract
                        - contractName
                        - contractMonth
                        - exchange
                        - type
                        - strike
                        - expirationDate
                        - date
                        - impliedVolatility
                        - delta
                        - gamma
                        - theta
                        - vega
                        - open
                        - high
                        - low
                        - last
                        - previousClose
                        - change
                        - percentChange
                        - volume
                        - longSymbol
        '204': 
          description: No Content
        '400': 
          description: Bad Request
        '500': 
          description: Internal Server Error
  /getFuturesOptionsEOD.json: 
    get: 
      tags: 
        - Price Data
      summary: getFuturesOptionsEOD
      operationId: get-getFuturesOptionsEOD
      description: The getFuturesOptionsEOD API provides end-of-day options data such as strike price, closing price, expiration date, volume, volatility etc on futures contracts.
      parameters: 
        - 
          in: query
          name: apikey
          description: Enter the secret API key.
          required: true
          schema: 
            type: string
            example: YOUR_API_KEY
        - 
          in: query
          name: root
          description: A symbol or code that identifies an option root.
          required: false
          schema: 
            type: string
            example: 'ZC'
        - 
          in: query
          name: contract
          description: A symbol or code that identifies an options contract.
          required: false
          schema: 
            type: string
            example: 'ZCK25'
        - 
          in: query
          name: symbols
          description: A symbol or code that identifies an option.  Multiple symbols separated by a comma may be used.
          required: false
          schema: 
            type: string
            example: 'ZCK210C,ZCK210P'
        - 
          in: query
          name: type
          description: The type of option desired, Call or Put.
          required: false
          schema: 
            type: string
            example: 'Call'
        - 
          in: query
          name: expirationMonth
          description: The numeric representation of the expiration month.
          required: false
          schema: 
            type: integer
            example: 07
        - 
          in: query
          name: expirationDay
          description: The numeric date for of the expiration day.
          required: false
          schema: 
            type: integer
            example: 22
        - 
          in: query
          name: fields
          description: Additional fields requested.
          required: false
          schema: 
            type: string
[...]
